<p id="notice"><%= notice %></p>

<h1>Lista de Projetos</h1>

<table> 
  <thead>
    <tr>
      <th>Nome</th>
      <th>Responsável</th>&nbsp;
      <th>Descrição</th>&nbsp;
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.responsible %></td>
        <td><%= project.description %></td><hr>
     <hr><td><%= link_to 'Detalhes', project %></td>
        <td><%= link_to 'Editar', edit_project_path(project) %></td>
        <td><%= link_to 'Deletar', project, method: :delete, data: { confirm: 'Tem certeza que deseja deletar este projeto?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Projeto', new_project_path %>
