<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Responsible:</strong>
  <%= @project.responsible %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Editar', edit_project_path(@project) %> |
<%= link_to 'Voltar', projects_path %>
