<div class="page-header">
  <%= link_to new_project_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Projeto
  <% end %>
  <div class="row">
    <div class="col-sm-3">
      <%= form_tag(projects_path, :method => :get) do %>
      <%= text_field_tag 'searchs', nil, placeholder: 'Nome', class: "form-control" %>
    </div>
    <%= submit_tag "Pesquisa", class: "btn btn-primary" %>
  </div>
  <% end %>

  <h1>Meus projetos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Responsável</th>
            <th>Descrição</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @projects) do |project| %>
            <td><%= project.name %></td>
            <td><%= project.owner %></td>
            <td><%= project.description %></td>
            <td><%= link_to 'Detalhes', project %></td>
        <td><%= link_to 'Editar', edit_project_path(project) %></td>
        <td><%= link_to 'Deletar', project, method: :delete, data: { confirm: 'Tem certeza que deseja deletar' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
