<div class="page-header">
  <%= link_to projects_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_project_path(@project), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>

  <h1>Detalhes do projeto</h1>
</div>

<dt>Nome:</dt>
<dd><%= @project.name %></dd>

<dt>Responsável:</dt>
<dd><%= @project.owner %></dd>

<dt>Descrição:</dt>
<dd><%= @project.description %></dd>
<hr>
<%= link_to "Criar História", "/stories/new", class: "btn btn-primary" %>
<hr>

<div class='row'>
  <div class="col-md-4">
    <div class='panel panel-info'>   
      <div class="panel-heading">FAZER</div>
      <ul class="list-group">
        <%@todo.each do|story|%>
          <li class="list-group-item">
            <p><%= "#{story.description}"%></p>
          </li>
        <% end %>
      </ul>
    </div> 
  </div>

  <div class="col-md-4">
    <div class='panel panel-warning'>   
      <div class="panel-heading">FAZENDO</div>
      <ul class="list-group">
        <%@doing.each do|story|%>
          <li class="list-group-item">
            <p><%= "#{story.description}"%></p>
          </li>
        <% end %>
      </ul>
    </div> 
  </div>

  <div class="col-md-4">
    <div class='panel panel-success'>   
      <div class="panel-heading">FEITO</div>
      <ul class="list-group">
        <%@done.each do|story|%>
          <li class="list-group-item">
            <p><%= "#{story.description}"%></p>
          </li>
        <% end %>
      </ul>
    </div> 
  </div>
</div>
<br>
