<div class="page-header">
  <%= link_to projects_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_project_path(@project), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>

  <h1>Detalhes do projeto</h1>
</div>

  <dt>Nome:</dt>
  <dd><%= @project.name %></dd>

  <dt>Responsável:</dt>
  <dd><%= @project.owner %></dd>

  <dt>Descrição:</dt>
  <dd><%= @project.description %></dd>
  <hr>

        <%= link_to "Criar História", "/stories/new", class: "navbar-brand" %>
      </div>
</dl>

<div class='row'> 

<div class='col-md-4 todo'>   
  <h6>Fazer</h6>
  <%@todo.each do|story|%>
    <p><%= "#{story.description}"%></p>
  <% end %>
  </div> 

  <div class='col-md-4 doing' >
    <h6>Fazendo</h6>
      <%@doing.each do|story|%>
     <p> <%= "#{story.description}"%></p>
    <% end %>
  </div> 

  <div class='col-md-4 done'>
    <h6>Feito</h6>
     <%@done.each do|story|%>
      <p><%= "#{story.description}"%></p>
    <% end %>
  </div>

</div>
<br>
