<div class="page-header">
  <%= link_to new_story_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Story
  <% end %>
  <h1>Listing stories</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Description</th>
            <th>Status</th>
            <th>Estimate</th>
            <th>Acceptance</th>
            <th>Observations</th>
            <th>Task</th>
            <th>Release</th>
            <th>Project</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @stories) do |story| %>
            <td><%= story.description %></td>
            <td><%= story.status %></td>
            <td><%= story.estimate %></td>
            <td><%= story.acceptance %></td>
            <td><%= story.observations %></td>
            <td><%= story.task %></td>
            <td><%= story.release %></td>
            <td><%= story.project.name%></td>
            <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
