<div class="page-header">
  <%= link_to stories_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_story_path(@story), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show story</h1>
</div>

<dl class="dl-horizontal">
  <dt>Description:</dt>
  <dd><%= @story.description %></dd>

  <dt>Status:</dt>
  <dd><%= @story.status %></dd>

  <dt>Estimate:</dt>
  <dd><%= @story.estimate %></dd>

  <dt>Acceptance:</dt>
  <dd><%= @story.acceptance %></dd>

  <dt>Observations:</dt>
  <dd><%= @story.observations %></dd>

  <dt>Task:</dt>
  <dd><%= @story.task %></dd>

  <dt>Release:</dt>
  <dd><%= @story.release %></dd>

  <dt>Project:</dt>
  <dd><%= @story.project.name %></dd>

</dl>
