<div class="page-header">
  <%= link_to stories_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_story_path(@story), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Detalhes da História</h1>
</div>

<dl class="dl-horizontal">
  <dt>Descrição:</dt>
  <dd><%= @story.description %></dd>

  <dt>Status:</dt>
  <dd><%= @story.status %></dd>

  <dt>Estimativa:</dt>
  <dd><%= @story.estimate %></dd>

  <dt>Critérios:</dt>
  <dd><%= @story.acceptance %></dd>

  <dt>Observações:</dt>
  <dd><%= @story.observations %></dd>

  <dt>Tarefas:</dt>
  <dd><%= @story.task %></dd>

  <dt>Release:</dt>
  <dd><%= @story.release %></dd>

  <dt>Projeto:</dt>
  <dd><%= @story.project.name %></dd>

</dl>
